<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <p class="logo">SPLITWISE...</p>
        <div class="links">
            <!-- <span><a href='../../activity.html'>Activity</a></span> -->
            <span><a href="{{ url_for('Friends')}}">Friends</a></span>
            <span><a href="{{url_for('Groups')}}">Groups</a></span>
            <span><a href="{{url_for('Profile')}}"><img src="https://i.ibb.co/HqRCNz1/profile.png" alt="profile"></a></span>
        </div>
    </header> 
    <div class="frnds">
        {% for i in dic1%}
        <div class="friend-det">
            <img src="https://i.ibb.co/HqRCNz1/profile.png">
            <span class="name">{{i}}</span>
            <span class="money1">what we owe-{{dic1[i][0]}}</span>
            <span class="money2">what they owei-{{dic1[i][1]}}</span>
        </div>
        {% endfor %}
    
        <!-- <div class="friend-det">
            <img src="https://i.ibb.co/HqRCNz1/profile.png">
            <span class="name">friendname</span>
            <span class="money1">what we owe</span>
            <span class="money2">what they owe</span>
        </div>
        <div class="friend-det">
            <img src="https://i.ibb.co/HqRCNz1/profile.png">
            <span class="name">friendname</span>
            <span class="money1">what we owe</span>
            <span class="money2">what they owe</span>
        </div> -->
    </div>
    <!-- <div>
    <span><button type="button"class="add">Add a friend</button></span>
    </div> -->
    <p class="total">Total Friends : {{d}}</p>

    <form method="POST" action="{{ url_for('add_Friends') }}">
		<h2 style="color:#16213E;">Add a Friend</h2>
		<input type="TEXT" name="friend-name" id="friend-name" placeholder="Enter user name" required>
        <br>
		<button type="submit">Add</button>
	</form>
    <form method="POST" action="{{ url_for('remove_Friend') }}">
		<h2 style="color:#16213E;">Remove a Friend</h2>
		<input type="TEXT" name="friend-name" id="friend-name" placeholder="Enter user name" required>
        <br>
		<button type="submit">Remove</button>
	</form>


    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flash" style="position: relative;top: 30px;right:30px;" >
        
          <li>{{ messages[-1][1] }}</li>
          <!-- <li>new to splitwise?<a href="{{url_for('signup')}}">Signup</a></li> -->
           </ul>
      <!-- <button id="dismiss">Dismiss</button>
      <script>
        document.getElementById('dismiss').addEventListener('click', function() {
          fetch('/clear-messages?category={{ category }}')
            .then(() => location.reload());
        });
      </script> -->
    {% endif %}
  {% endwith %}
</body>
</html>