
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <title>Home</title>
</head>

<body>
    <header>
        <div class="links">
             <span><a href="{{url_for('Profile')}}">Profile</a> </span>
            <span><a href="#" style="position: relative;">Splitwise</a>  </span>
            
            <!-- <span><a href='../../activity.html'>Activity</a></span> -->
            <span><a href='../../friends.html'>Friends</a></span>
            <span><a href='../../groups.html'>Groups</a></span>
           
        </div>
    </header>
    <div>
        <p class="welcome">welcome to splitwise</p>
        <p class="intro">Splitwise is a free and user-friendly app designed to help people easily split expenses with friends, family,
            or roommates. It simplifies the process of tracking shared expenses and settling up debts, making it easier
            to manage group finances and avoid conflicts. With Splitwise, users can create groups, add expenses, and
            split bills among the members, allowing everyone to keep track of who owes what to whom. The app also offers
            various features such as reminders, comments, and multiple currency support, making it an essential tool for
            anyone who frequently splits bills with others.</p>


    </div>
  

    <!-- <input type="hidden" name="id" value="1"> -->
    <a  href="{{url_for('login')}}" style="position: relative;top:10px;">LOG IN</a>
    <a  href="{{url_for('signup')}}" style="position: relative;top:10px;">Sign UP</a>
    <!-- </form> -->

</body>

</html>