<!DOCTYPE html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <header>
        <p class="logo">SPLITWISE...</p>
        <div class="links">
            <span><a href="{{url_for('Dashboard')}}">Dashboard</a></span>
            <span><a href='./activity.html'>Activity</a></span>
            <span><a href="{{url_for('Friends')}}">Friends</a></span>
            <span><a href='./groups.html'>Groups</a></span>
            <span><a href='./profile.html'><img src="profile.png" alt="profile"></a></span>
        </div>
    </header>
    <div class="profile">
        <!-- <a href="https://imgbb.com/"><img src="https://i.ibb.co/HqRCNz1/profile.png" alt="profile" border="0"></a> -->
        <img src="https://i.ibb.co/HqRCNz1/profile.png" alt="profile">
        <h1>{{name}}</h1>
        <!-- <p>Joined on January 1, 2021</p> -->
        <div class="profile-stats">
            <div class="profile-stat">
                <h3>Total Owed</h3>
                <p>{{Owed}}</p>
            </div>
            <div class="profile-stat">
                <h3>Total Owes</h3>
                <p>{{Owes}}</p>
            </div>
        </div>
        <div class="friends">
            <h3>Friends</h3>
            {% for i in dic1%}
            <p>{{i}}</p>
            {% endfor %}
        </div>
    </div>
    <footer>
        <div class="footer-copy">&#169; Copyrights 2023 || Splitwise</div>
        <div class="footer-about">Learn more about Splitwise<a href='./home.html'> here.</a></div>
    </footer>
</body>
</html>