<!DOCTYPE html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <header>
        <p class="logo">SPLITWISE...</p>
        <div class="links">
            <span><a href="{{url_for('Dashboard')}}">Dashboard</a></span>
            <span><a href="{{url_for('Friends')}}">Friends</a></span>
            <span><a href="{{url_for('Groups')}}">Groups</a></span>
            <span><img src="https://i.ibb.co/d5rgsbs/IMG-20230507-WA0009.jpg" alt="profile"></span>
        </div>
    </header>
    <div class="profile" style="color: antiquewhite;">
        <span class="profiletext">Profile<span class="dot">.</span></span>
        <a href="{{url_for('Home')}}">Log Out</a>
        <div >
            <h2 style="font-size: 17px; position:relative;top:120px;left:250px;font-family: poppins;">Email : {{prof[1]}}</h2>
            <h2 style="font-size: 17px;position: relative;top:140px;left:250px;font-family: poppins;">mobile : {{prof[2]}}</h2>
        </div>
        <!-- <a href="https://imgbb.com/"><img src="https://i.ibb.co/HqRCNz1/profile.png" alt="profile" border="0"></a> -->
        <img src="https://i.ibb.co/hFRg885/IMG-20230507-WA0008.jpg" alt="profile">
        <h1>{{prof[0]}}</h1>
        <!-- <p>Joined on January 1, 2021</p> -->
        <div class="profile-stats">
            <div class="profile-stat">
                <h3>Total Owed</h3>
                <p>{{prof[4]}}</p>
            </div>
            <div class="profile-stat">
                <h3>Total Owes</h3>
                <p>{{prof[5]}}</p>
            </div>
        </div>
        <div class="friends">
            <h3>Friends</h3>
            {% for i in dic1%}
            <p>{{i}}</p>
            {% endfor %}
        </div>
    </div>
    <footer>
        <div class="footer-copy">&#169; Copyrights 2023 || Splitwise</div>
        <div class="footer-about">Learn more about Splitwise<a href='./home.html'> here.</a></div>
    </footer>
</body>
</html>